<div class="card bg-white d-flex align-items-center justify-content-center" style=" width: 800px;height: 700px;">
  <div class="card-body d-flex flex-column justify-content-center">
    <h2 class="card-title mb-1 text-center">URL Shortener</h2>
    <img class="mb-5" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      alt="image" style=" width: 300px;min-height: 300px;">
  </div>
  <div class="mb-5 w-75 d-flex flex-column align-items-center">
    <h2>Success! Please use this link:</h2>
    <a id="content_2" href="/enginejack/{{ shortURLlist.RanderNumber }}" class="btn-lg mt-3">"https://enginejack/{{
      shortURLlist.RanderNumber }}"</a>
    <button class="btn btn-primary btn-lg mt-3 w-25 copy" data-clipboard-text="https://enginejack/{{
      shortURLlist.RanderNumber }}">Copy</button>
  </div>
</div>